<section class="section swiper-container swiper-slider swiper-slider-minimal" data-loop="true" data-slide-effect="fade" data-autoplay="4759" data-simulate-touch="true">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide_video" data-slide-bg="images/slider-minimal-slide-1-1920x968.jpg">
        <div class="container">
          <div class="jumbotron-classic-content">
            <div class="wow-outer">
              <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Offering Diverse</div>
            </div>
            <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Properties</span></h1>
            <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">inHouse provides you with lots of great properties throughout the USA so that you could easily choose your dream property.</span></p>
            <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">View Properties</a></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-slide-bg="images/slider-minimal-slide-2-1920x968.jpg">
        <div class="container">
          <div class="jumbotron-classic-content">
            <div class="wow-outer">
              <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Easily</div>
            </div>
            <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Rent & Sale</span></h1>
            <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">With the help of our services and property management solutions, you can rent or sell any house or apartment.</span></p>
            <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">View properties</a></div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-slide-bg="images/slider-minimal-slide-3-1920x968.jpg">
        <div class="container">
          <div class="jumbotron-classic-content">
            <div class="wow-outer">
              <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">More Than 20 Years of</div>
            </div>
            <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Experience</span></h1>
            <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">Founded in 1989, our company is a team of renowned property management and real estate experts always ready to help you.</span></p>
            <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">View properties</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination-outer container">
      <div class="swiper-pagination swiper-pagination-modern swiper-pagination-marked" data-index-bullet="true"></div>
    </div>
  </section>
  <section class="section novi-background section-md text-center">
    <div class="container">
      <h3 class="text-uppercase font-weight-bold wow-outer"><span class="wow slideInDown">Popular properties</span></h3>
      <div class="row row-lg-50 row-35 offset-top-2"> 
        <app-card1 class="col-md-6 wow-outer"></app-card1>
        <app-card1 class="col-md-6 wow-outer"></app-card1>
        <app-card1 class="col-md-6 wow-outer"></app-card1>
        <app-card1 class="col-md-6 wow-outer"></app-card1>
        <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="#">view More properties</a></div>
      </div>
    </div>
  </section>
