<div class="row row-30 property-item"  >
    <div class="col-md-6 illustration"><img src="images/typography-2-770x456.jpg" alt="" width="770" height="456"/>
    </div>
    <div class="col-md-6 property-detail">
      <p class="description">{{property.description}}</p>
      <ul class="post-modern-meta">
        <li><a class="button-winona" href="#"> {{ property.prix }}</a></li>
        <li>{{ property.surface }} </li>
        <li> {{ property.nombreChambre }} Bedrooms</li>
      </ul>
      <span class="post-modern-title" > {{ property.adresse }}</span>
      <div class="row row-x-10 illustration-plus" data-lightgallery="group">
        <div class="col-3 col-sm-4 col-md-3 {{ isHideItem(i) }}" *ngFor="let imageItem of property.autherIllustration; let i =index">
            <a class="thumbnail-minimal" [href]="imageItem" data-lightgallery="item"><img class="thumbnail-minimal-image" [src]="imageItem" alt=""/>
            <div class="thumbnail-minimal-caption"></div></a>
        </div>
      </div>
    </div>
</div>