.list-property{
    > div{
        margin-top: 40px;
    }
    .description-empty-item{
        flex:1;
        text-align: center;
    }
    :first-child {
        margin-top: 0px;
    }
}

.section-filter{
    border: 2px solid #969696;
    padding-left: 0px;
    padding-right: 0px;

    .fix-search{
        /*position: fixed;
        top: 55px;*/
    }

    .accordion {
      border-top: 1px solid #969696;
      padding: .75rem;

        .title{
          display: flex;
          
          h5{
            font-size: 1rem;
            flex: 1 1 auto;
          }
        }

        .content-container{
          display: none;
          &.opened{
            display: block;
          }

          /*.content:hover{
            background-color: #cccccc;
          }*/

          .content{
            margin-top: 1px;
          }

          
        }
    }
    
    
}

