
<app-header1></app-header1>
    <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Typography</h6>
              <h2 class="text-uppercase breadcrumbs-custom-title">Typography</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Typography</li>
            </ul>
          </div>
        </div>
      </section>
   
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-2 section-filter"> 
              <div class="">
                
                <p>Filtre des resultats</p>

                
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(1)">
                     <h5>Trier par</h5>
                     <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(1)" [class.mdi-chevron-up]="isActiveAccordionItem(1)"></span>
                  </div>
                  <div class="content-container" [class.opened]="isActiveAccordionItem(1)">
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="sortBy" value="desc"/>
                      plus récent
                    </p>
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="sortBy" value="pertinent"/>
                      plus pertinent
                    </p>
                  </div>
                </div>
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(2)">
                    <h5>Date de publication</h5>
                    <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(2)" [class.mdi-chevron-up]="isActiveAccordionItem(2)"></span>
                 </div>
                  <div class="content-container " [class.opened]="isActiveAccordionItem(2)">
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="pDate" value="1"/>
                      dernières 24 heures
                    </p>
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="pDate" value="7"/>
                      La semaine dernière
                    </p>
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="pDate" value="30"/>
                      Le mois dernier
                    </p>
                  </div>
                </div>
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(3)">
                    <h5>Localisation</h5>
                    <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(3)" [class.mdi-chevron-up]="isActiveAccordionItem(3)"></span>
                 </div>
                  <div class="content-container" [class.opened]="isActiveAccordionItem(3)">
                    
                    <ul class="text-base">
                      <li>
                        <strong >Canada</strong> 
                      </li>
                      <li class="pl-2" *ngFor="let localisationItem of localisationCity; let i =index">
                        <div class="title" (click)="activeAccordionItem(-1*i)">
                          <input type="checkbox" (change)="filterResult($event)" name="localisation" [value]="localisationItem.name"/>
                          <span class="text-title"> {{localisationItem.name}}</span>
                          <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(-1*i)" [class.mdi-chevron-up]="isActiveAccordionItem(-1*i)"></span>
                       </div>
                        <ul class="content-container" [class.opened]="isActiveAccordionItem(-1*i)" *ngFor="let cityitem of localisationItem.city ">
                          <li class="pl-2">
                            <input type="checkbox" (change)="filterResult($event)" name="localisation" [value]="cityitem"/>
                            <span >{{cityitem}}</span>
                          </li>
                        </ul>
                      </li>


                    </ul>

                  </div>
                </div>
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(4)">
                    <h5>Catégorie</h5>
                    <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(4)" [class.mdi-chevron-up]="isActiveAccordionItem(4)"></span>
                 </div>
                  <div class="content-container" [class.opened]="isActiveAccordionItem(4)">
                    
                    <p class="content">
                      <input type="checkbox"  (change)="filterResult($event)" name="category" value="location"/>  
                      Logement à louer 
                    </p>
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="category" value="vente"/>  
                      Propriété à vendre
                    </p>
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="category" value="renovation"/>  
                      Rénovation
                    </p>
                  </div>
                </div>

              </div>
               
            </div>
            <div class="col-md-10 list-property">
              <div class="row row-30 "  *ngIf="listProperty == undefined ||  listProperty == null || listProperty.length == 0">
                <p class="description-empty-item">Aucune propriété trouvée</p>
              </div>
              <div *ngFor="let propertiItem of listProperty">
                <app-property-item [property]="propertiItem"></app-property-item>
              </div>
              <div (click)="test($event)"> testt
                <button >test</button>
              </div>
              

              <ul>
                <li *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }"> {{item}} </li>
              </ul>
                         
              <pagination-controls (pageChange)="p = $event" ></pagination-controls>


              <div class="row">
                <div class="col-xs-12 col-12">
                  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"></pagination>
                </div>
              </div>
               
              <button type="button" class="btn btn-info" (click)="setPage(3)">Set current page to: 3</button>


            </div>
          </div>
        </div>
      </section>
      <!-- Right aligned image-->


      
     