.list-property{
    > div{
        margin-top: 40px;
    }
}

.section-filter{
    background-color: aqua;

    ::after {content: "";
   
        right: 0;
        top: 50%;
        width: 10px;
        height: 1.5em;
        background: #0e0f18;
        transform: translate3d(0, -50%, 0);
    }
}

