
      <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Typography</h6>
              <h2 class="text-uppercase breadcrumbs-custom-title">Typography</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Typography</li>
            </ul>
          </div>
        </div>
      </section>
   
      <section class="section novi-background section-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-2 section-filter"> 
              <div class="">
                
                <p>Filtre des resultats</p>

                
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(1)">
                     <h5>Trier par</h5>
                     <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(1)" [class.mdi-chevron-up]="isActiveAccordionItem(1)"></span>
                  </div>
                  <div class="content-container" [class.opened]="isActiveAccordionItem(1)">
                    <p class="content">
                      <input type="checkbox" (change)="filterResult($event)" name="sortAsceding"/>
                      plus récent
                    </p>
                    <p class="content">
                      <input type="checkbox"/>
                      plus pertinent
                    </p>
                  </div>
                </div>
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(2)">
                    <h5>Date de publication</h5>
                    <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(2)" [class.mdi-chevron-up]="isActiveAccordionItem(2)"></span>
                 </div>
                  <div class="content-container " [class.opened]="isActiveAccordionItem(2)">
                    <p class="content">
                      <input type="checkbox"/>
                      dernières 24 heures
                    </p>
                    <p class="content">
                      <input type="checkbox"/>
                      La semaine dernière
                    </p>
                    <p class="content">
                      <input type="checkbox"/>
                      Le mois dernier
                    </p>
                  </div>
                </div>
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(3)">
                    <h5>Localisation</h5>
                    <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(3)" [class.mdi-chevron-up]="isActiveAccordionItem(3)"></span>
                 </div>
                  <div class="content-container" [class.opened]="isActiveAccordionItem(3)">
                    <p class="content">dernières 24 heures</p>
                    <p class="content">La semaine dernière</p>
                    <p class="content">Le mois dernier</p>
                  </div>
                </div>
                <div class="accordion">
                  <div class="title" (click)="activeAccordionItem(4)">
                    <h5>Catégorie</h5>
                    <span class="icon novi-icon icon-md mdi mdi-chevron-down" [class.mdi-chevron-down]="!isActiveAccordionItem(4)" [class.mdi-chevron-up]="isActiveAccordionItem(4)"></span>
                 </div>
                  <div class="content-container" [class.opened]="isActiveAccordionItem(4)">
                    
                    <p class="content">
                      <input type="checkbox"/>  
                      Logement à louer 
                    </p>
                    <p class="content">
                      <input type="checkbox"/>  
                      Propriété à vendre
                    </p>
                    <p class="content">
                      <input type="checkbox"/>  
                      Rénovation
                    </p>
                  </div>
                </div>

              </div>
               
            </div>
            <div class="col-md-10 list-property">
              <div class="row row-30 "  *ngIf="listProperty == undefined ||  listProperty == null || listProperty.length == 0">
                <p class="description-empty-item">Aucune propriété trouvée</p>
              </div>
              <div *ngFor="let propertiItem of listProperty">
                <app-property-item [property]="propertiItem"></app-property-item>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Right aligned image-->


      
     